/* header部分 */
.header{
    width:100%;
    height:40px;
    background-color:#f8f8f8 ;
    padding: 0px 60px;
    box-sizing: border-box;
}
.header .left ul{
    margin-left:5px;
    float: left;
}
.header .left ul li{
    float: left;
    padding-right:18px;
    line-height: 40px;
}
.header .left ul li a{
    color:#78788c;
}
.header .right{
    float:right;
}
.header .right ul{
    margin-right:34px;
}
.header .right ul li{
    float:left;
    padding-left:18px;
    line-height: 40px;
}
.header .right ul .gwc{
    position: relative;
}
.header .right ul li img{
    display:inline-block;
    vertical-align: middle;
}
.header .right ul li a{
    color:#78788c;
}
.header ul li a{
    cursor: pointer;
} 

.header ul li  a:hover{
    color:black;
}
/* 公共头部结束 */

/* 内容部分 */
.content{
    width: 100%;
    height: 560px;
    padding: 1px 100px 90px 100px;
    box-sizing: border-box;
    background: #f9f9f9;
}
.content .left{
    width:400px;
    height:100%;
    float: left;
}
.left  img{
    width:100%;
    height:300px;
    border-right:1px solid #eeeeee;
    margin:100px 55px 160px 0px;
    padding-right: 80px;
}
.content .right{
    width: 400px;
    height: 100%;
    position: relative;
    float: left;
    margin-left: 200px;
}
.right form{
    width:100%;
    /* height:100%; */
    margin-top:40px;
    position: relative;
}
.right form h3{
    font-size:22px;
    color:#333;
    text-align: center;
    font-weight: 200;
    width:360px;
}
.right form input{
    width:330px;
    height:40px;
    text-indent: 10px;
    color:#999;
    margin-top:14px;
    border-radius:5px;
    border:1px solid #999;
}
.right form  .checkMa{
    width:250px;
}
#showMa{
    user-select: none;
}
.right form  .checkMaMsg {
    color:#767676;
    font-size:14px;
    line-height: 40px;
}
.right form  .checkMaMsg:hover{
    color:black;
}


.right form .smt{
    font-size:14px;
    background:#0186d1;
    color:#fff;
}
.right form .smt:hover{
    background: #57b5ea;
}
.right form .sjzc{
    color: red;
    font-size: 16px;
    position: absolute;
    top: 52px;
    right: -55px;
    display:none;
}
.right form .check_psd{
    color: red;
    font-size: 16px;
    position: absolute;
    top: 112px;
    right: 75px;
    display: none;
    /* display: block; */
}
.right form .check_word{
    color: red;
    font-size: 16px;
    position: absolute;
    top: 170px;
    right: 150px;
    display: none;
}
.right form .check_login{
    color: red;
    font-size: 16px;
    position: absolute;
    top: 225px;
    right: -200px;
    display: none;
}
.right .other_login{
    margin-top:25px;
}
.right .line{
    width:330px;
    height:115px;
}
.line .other_login img{
    vertical-align: middle;
}
.line ul{
    padding:16px 35px;
}
.line ul li{
    float:left;
    padding-left:25px;
}
.forgetMa{
    float:left;
    padding-left: 50px;
}
.forgetMa a{
    padding-left:28px;
}
.forgetMa a:first-child{
    color:#177dcc;
}
.forgetMa a:last-child{
    color:#767676;
}
/* 固定定位 */
.gdkf{
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 42px;
    height: 130px;
}
.gdkf .kf_item{
    display:block;
    width:42px;
    height:42px;
    margin-bottom:1px;
    /* background: black;  */
    background:url(images/kf.jpg) no-repeat;
}
/*又一次没出来*/





